body {
    font-family: Helvetica;
}

/* Primera Sección-Navbar */
.navbar {
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.logo {
    font-family: Oswald;
    font-size: 40px;
    font-weight: 700;
}

.logo img {
    width: 50px;
}

/* Tercera Sección-¿Quiénes somos? */
#Quienes-somos {
    background-color: black;
}

#Quienes-somos i {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}

/* Cuarta Sección-Destacados */
#Destacados {
    background-color: black;
}
.titulo-seccion4 {
    text-align: center;
    color: white;
    font-weight: bold;
}

/* Quinta Sección-Contacto */
#Contacto {
    background-color: black;
}
.titulo-seccion5 {
    text-align: center;
    color: white;
    font-weight: bold;
}
